*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
}
main {
  height: 100vh;
  display: grid;
  place-items: center;
  background: #aaa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.dictionary {
  height: 80vh;
  width: 80vw;
  border-radius: 1em;
  display: grid;
  grid-template-rows: 12em auto;
  background: white;
  place-items: center;
  .form {
    grid-row: 1;
  }
}
.form {
  z-index: 3;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr;
  box-shadow: 0 0.3em 1em rgba(black, 0.1);
  input {
    border: none;
    padding: 0.5em;
    font-size: 1em;
    width: 60%;
    border-radius: 0.5em;
    background: #e4e4e4;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  button {
    padding: 0.5em 1em;
    font-size: 0.8em;
    background: green;
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-bottom: 2em;
  }
  select {
    margin-top: 2em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 0.2em;
    font-size: 1em;
    border: none;
    background: #f4f4f4;
    border-radius: 1px;
    option {
      padding: 0.2em;

      background: #f4f4f4;
    }
  }
}
.section-center {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quick-guide {
  h2 {
    margin-bottom: 1.5em;
  }
  p {
    text-align: center;
    margin: 0 3em;
    color: #969696;
  }
}

.results-container {
  overflow: hidden;
  overflow-y: scroll;
  padding: 1em;
  height: calc(100% - 1em);
  width: 100%;
  margin-left: 4em;
  margin-bottom: 1em;
}
.result {
  margin-top: 2em;
  .number {
    margin-bottom: 1em;
    font-size: 0.8em;
    display: inline-block;
    height: 2em;
    width: 2em;
    display: grid;
    place-items: center;
    background: rgb(23, 108, 235);
    color: white;
    border-radius: 50%;
  }
  .wordclass-container {
    margin-bottom: 1em;
    p {
      display: inline;
      margin-left: 1em;
    }
    span {
      color: #313131;
    }
  }
  .definition-container {
    .synonym {
      background: rgb(3, 201, 3);
      color: white;
      padding: 0.25em 0.5em;
      border-radius: 0.25em;
    }
    .example {
      font-style: italic;
      margin-left: 2em;
      color: #969696;
    }
  }
  p {
    margin-left: 1em;
  }
}
.pronounce-container {
  margin-bottom: 0.5em;
  display: flex;
  .voice-btn {
    margin-left: 1em;
    font-size: 1em;
    background: transparent;
    border: 2px solid gray;
    color: gray;
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
    display: grid;
    place-items: center;
    border-radius: 50%;
  }
}
.error-container {
  h3 {
    margin-bottom: 1em;
  }
  p {
    color: #969696;
    margin: 0 3em;
  }
}

.loading-container {
  h3 {
    margin-top: 1em;
    font-size: 1.5em;
  }
  .spinner {
    font-size: 1.5em;
    animation: spinner 1s infinite;
  }
}

@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}

@media (min-width: 1500px) {
  body {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  body {
    font-size: 8px;
  }
}
